# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
.expo-shared/

# Build artifacts
*.apk
*.aab

# Environment/Secrets
.env

# Logs and debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Android/iOS native stuff (ignore only if not using EAS build locally)
android/
ios/

# Misc
*.log
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
